<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
  
<suite name="Test Suite">
  <test name="RegressionTest">
    <parameter name="base.url" value="${base.url}" />
    <classes>
      <class name="regressionTest.TestSignUpCases"/>
      <class name="regressionTest.TestLoginCases"/>
    </classes>
  </test>
</suite>