<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
  
<suite name="Test Suite">
  <test name="RegressionTest">
    <parameter name="base.url" value="${base.url}" />
    <parameter name="user.name" value="${user.name}" />
    <parameter name="password" value="${password}" />
    <classes>
      <class name="regressionTest.TestLoginPage">
	  </class>
    </classes>
  </test>
</suite>